name: smart_localize
description: "is a Flutter localization package that efficiently handles translations by dynamically loading language resources based on the app's locale, with robust fallback support."
version: 0.0.3
homepage: https://github.com/abdelrahmanghanem
repository: https://github.com/abdelrahmanghanem/smart_localize

environment:
  sdk: ^3.5.2
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:

  # To add assets to your package, add an assets section, like this:
   assets:
     - assets/translation/ar/
     - assets/translation/en/




